
.card{
    background-color: black;
    padding: 5px;
    text-align: left;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.8px 0.8px #D72323;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
}
.card:hover{
    transform: scale(1.03);
}
.card-img-top{
    height: 18rem;
    width: 15rem;
    object-fit: fill;
}
.card-title{
    margin-top: -0.2rem;
    color: #D72323;
    font-size: 1.2rem;
    margin-left: 0.2rem;
}
.card-text{
    margin-top: -2.5rem;
    margin-left: 0.2rem;
}

