.detail_container{
    margin-top: 8rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.details_div{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
img{
    /* margin-top: 3rem; */
    margin-right: 2rem;
    height: 20rem;
    width: 16rem;
}
.info p {
    margin: 1rem 0;
}
.sumaryDiv{
    width: 45rem;
}
.link{
    color:#D72323;
    text-decoration: none;
    
}
.genreClass {
    display: inline-block;
    border-radius: 15px;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 10px 17px;
    background: #D72323;
}
h3{
    color: #D72323;
}
@media only screen 
and (min-device-width:320px)
and (max-device-width:480px)
and (-webkit-min-device-pixel-ratio: 2){
    .genreClass {
        margin: 0.16rem 0.3rem 0.16rem 0;
        padding: 3px 5.6px;
        border-radius: 5px;
    }
    .detail_container{
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    img{
        margin-right: 0.5rem;
        height: 14rem;
        width: 10rem;
    }
    .info p {
        margin: 0.5rem 0;
    }
    .sumaryDiv{
        width: 10rem;
    }
    .link{
        width: auto;
    }
}
