.radiobtns{
    display: flex;
    justify-content: center;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.c{
    margin: 1rem;
}
label > input[type="radio"] {
    display: none;
  }
  
  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color:#D72323;
  }
  label > input[type="radio"]:checked + *::before {
    background: #D72323;
    border-color: #D72323;
  }

button{
    background-color: #D72323;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 3px;
    text-align: center;
    border-radius: 6px;
    height: 2.5rem;
    width: 6rem;
}
.searchbar{
    margin: 1rem;
    font-size: 1rem;
    padding: 3px;
    background-color: #1B1717;
    border: none;
    text-align: center;
    border-radius: 6px;
    height: 2.5rem;
    width: 20rem;
    outline-width: 0ch;
}
.searchbar:focus{
  border: 1px solid #D72323;
  box-shadow: 0 0 1px 1px #D72323;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    label > input[type="radio"] + *::before {
        width: 14px;
        height: 14px;
    }
    label{
        font-size: 14px;
    }
    .searchbar{
        width: 12rem;
        height: 1.5rem;
        font-size: 14px;
        padding: 1px;
        margin: 0.5rem;
    }
    button{
        height: 1.5rem;
        width: 4rem;
        font-size: 14px;
        padding: 1px;
    }

}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {}
