.footer{
    color: #D72323;
    background: #1B1717;
    position: sticky;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: -3rem;
    font-size: 12px;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-bottom: 0rem;
    }
}
@media only screen 
and (min-device-width:320px)
and (max-device-width:480px)
and (-webkit-min-device-pixel-ratio: 2){
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-bottom: 0rem;
    }
}